---
interface Props {
  title?: string;
}

const { title = 'Nex Machina Game Soundtrack' } = Astro.props;
const siteUrl = 'https://nexmachina.aritunes.com';
const description = 'Soundtrack from Nex Machina (the game). Synthwave/Retrowave album.';
---

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{title}</title>
  <meta name="description" content={description}>

  <link rel="icon" type="image/png" href="/images/favicon.png">

  <link rel="canonical" href={siteUrl}>
  <link rel="alternate" type="application/rss+xml" title={title} href={`${siteUrl}/feed.xml`}>

  <!-- Email conversion -->
  <script type="text/javascript">
      function gen_mail_to_link(lhs,rhs,subject) {
          document.write("<a class='button' href=\"mailto");
          document.write(":" + lhs + "@");
          document.write(rhs + "?subject=" + subject + "\">" + lhs + "@" + rhs + "<\/a>");
      }
  </script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49121734-3', 'auto');
  ga('send', 'pageview');

  </script>

  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:540341,hjsv:5};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

<!-- Facebook OG -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={siteUrl} />
<meta property="og:image" content="https://nexmachina.aritunes.com/og-image.jpg" />

<!-- Twitter OG -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@aritunescorp">
<meta name="twitter:creator" content="@aritunescorp">
<meta name="twitter:title" content={title}>
<meta name="twitter:description" content={description}>
<meta name="twitter:image" content="https://nexmachina.aritunes.com/og-image.jpg">

</head>
